<% content_for :javascript_includes do %>
  <%= javascript_include_tag "jquery.flexslider" %>
  <%= stylesheet_link_tag  "flexslider" %>
<% end %>

<script>
$(document).ready(function(){
  $('#testimonies').flexslider({
    animation: "slide",
    animationLoop: false,
    slideshow: false,
    itemWidth: 100,
    itemMargin: 5,
    maxItems: 1
  });
});
</script>

<section class="single-page-title single-page-title-about">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>About Us</h2>
      </div>
      <div class="col-md-5 align-self-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="section-content about-us">
  <div class="container">
    <div class="row">
      <%# <div class="col-md-12">
          <h2>We help you to get appear on first page of serach engines</h2>
      </div> %>
    </div>
    <div class="row">
      <div class="col-md-6 our-company">
        <p>PT. Aneka Niaga Global merupakan perusahaan yang bergerak di bidang pengadaan Barang dan
           Jasa Informasi Teknologi (IT) yang meliputi perangkat keras (hardware), perangkat lunak
           (software) dan peralatan/accessories lainnya. Berlandaskan hal ini kami melayani dengan
           kepuasan mitra kami dalam kurun waktu yang sangat lama maka menjadi prioritas kami. Kami
           sangat yakin PT. Aneka Niaga Global dengan jaringan yang luas serta profesionalisme kerja serta
           komitmen atas setiap pelayanan dan memiliki nilai tambah demi tercapainya tujuan bersama,
           kami percaya akan maju dan berkembang bersama yang bersinergi dalam perkembangan
           Informasi dan Teknologi.
        </p>
        <p>Berpengalaman sejak tahun 1996 yang menekuni bisnis Informasi dan Teknologi serta memiliki 
           hubungan kerjasama yang sangat erat dengan sejumlah mitra yang baik dari pemerintah maupun s
           wasta serta hubungan yang sangat erat dengan sejumlah produsen pemengang merk IT, maka mulai 
           tanggal 29 April 2009 perusahaan ini telah berbadan hukum yang didirikan di hadapan 
           Notaris R. Tendy Suwarman,SH serta telah terdafar di Pengadilan Negeri Bandung pada tanggal 
           05 Juni 2009. 
        </p>
      </div>
      <div class="col-md-6 our-company">
        <p>Berlandaskan hal ini kami melayani dengan kepuasan mitra kami dalam kurun waktu yang sangat 
            lama maka menjadi prioritas kami.</p>
        <p>Kami sangat yakin PT. Aneka Niaga Global dengan jaringan yang luas serta profesinalisme 
           kerja serta komitmen atas setiap pelayanan dan memiliki nilai tambah demi tercapainya tujuan 
           bersama, kami percaya akan maju dan berkembang bersama yang bersinergi dalam perkembangan 
           Informasi dan Teknologi.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-content our-value">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Sejarah</h3>
          <%= image_tag "img-about-1.png", class: "img-fluid", alt: "Sejarah ang Aneka Global Niaga" %>
          <p>Berpengalaman sejak tahun 1996 yang menekuni bisnis Informasi dan Teknologi serta memiliki
             hubungan kerjasama yang sangat erat dengan sejumlah mitra yang baik dari pemerintah
             maupun swasta serta hubungan yang sangat erat dengan sejumlah produsen pemegang merk IT.</p>
      </div>
      <div class="col-sm-4">
        <h3>Visi</h3>
          <%= image_tag "img-about-2.png", class: "img-fluid", alt: "Visi ang Aneka Global Niaga"  %>
          <p>Menjadi konsultan yang terdepan dalam bidang Informasi dan Teknologi dengan selalu
             memberikan solusi yang inovatif sehingga setiap mitra kami mendapatkan kepuasan.</p>
      </div>
      <div class="col-sm-4">
        <h3>Misi</h3>
          <%= image_tag "img-about-3.png", class: "img-fluid", alt: "Misi ang Aneka Global Niaga"  %>
          <p class="no-m-b">Misi yang kita emban dalam bidang Informasi dan Teknologi dalam pengadaan barang dan jasa
            memberikan yang terbaik dengan nilai tambah kepada setiap mitra yang menjalin kerjasama
            dengan kami berdasarkan prinsip :
            <ul class="dashed">
              <li>Berorientasi kemitraan</li>
              <li>Efektivitas dan efesiensi atas solusi</li>
              <li>Kualitas dan professional kerja yang tinggi</li>
              <li>Komitmen dalam setiap pekerjaan</li>
            </ul>   
          </p>
      </div>
    </div>
  </div>
</section>

<section class="section-content our-testimony">
  <div class="container">
    <div id="testimonies" class="flexslider">
      <ul class="slides row">
        <% @testimonies.each do |testimony| %>
          <li>
            <div class="col-sm-12 testimony-box">
              <h3>Satisfied <span class='blue-text'>Customer</span></h3>
              <div class="testimony-content"><%= raw(testimony.content) %></div>
              <div class="testimony-name"><%= testimony.name %></div>
              <div class="testimony-company"><%= testimony.company %></div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
